<h2><?= $title ?></h2>

<?php if (empty($commandes)) : ?>
    <div class="alert alert-info">Vous n'avez pas encore de commandes</div>
<?php else : ?>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>N° Commande</th>
                    <th>Date de commande</th>
                    <th>Montant</th>
                    <th>Etat</th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach($commandes as $commande) : ?>
                    <tr>
                        <td><?= $commande->getField('id_commande') ?> <a href="<?= $url ?>commande/afficheDetailsCommande/<?= $commande->getField('id_commande') ?>"><i class="far fa-eye"></i></a></td>
                        <td><?= date('d/m/Y à H:i:s',strtotime($commande->getField('date_enregistrement'))) ?></td>
                        <td><?= $commande->getField('montant') ?> €</td>
                        <td><?= $commande->getField('etat') ?></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php endif; ?>
