<h2><?= $title ?></h2>
<?php

if ($_SESSION['membre'] && $_SESSION['membre']->isAdmin()):
?>
    <a href="<?= $url ?>produit/ajoutProduit" class="btn btn-success">Ajouter un produit</a>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                  <th><a href="<?= $url ?>produit/adminProduit/id_produit">ID</a></th>
                  <th><a href="<?= $url ?>produit/adminProduit/reference">Ref.</a></th>
                  <th><a href="<?= $url ?>produit/adminProduit/categorie">Categ</a></th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th><a href="<?= $url ?>produit/adminProduit/couleur">Couleur</a></th>
                    <th><a href="<?= $url ?>produit/adminProduit/taille">Taille</a></th>
                    <th><a href="<?= $url ?>produit/adminProduit/public">Public</a></th>
                    <th>Photo</th>
                    <th><a href="<?= $url ?>produit/adminProduit/prix">Prix</a></th>
                    <th><a href="<?= $url ?>produit/adminProduit/stock">Stock</a></th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($produits as $produit) :
                        $champs = $produit->getFields();
                        ?>
                    <tr>
                        <?php
                        foreach($champs as $index => $value)
                        {
                            if ($index == 'photo') {
                                $value = '  <a href="'. $url .'produit/affiche/'. $produit->getField('id_produit').'"><img src="'. $url .'photo/'. ($produit->getField('photo')) .'" class="thumbnail img-fluid"></a>';
                            }
                            if ($index == 'description' && strlen($value)>75) { ?><td class='desc-produit'><?= substr($value,0,75).' ...' ?></td><?

                            }
                            else{
                          ?>
                          <td class='desc-produit'><?= $value ?></td><? }
                        }
                        ?>
                        <td><a href="<?= $url ?>produit/editProduit/<?= $produit->getField('id_produit') ?>"><i class="fa fa-edit"></i></a></td>
                        <td><a href="<?= $url ?>produit/suppProduit/<?= $produit->getField('id_produit') ?>" onclick="return(confirm('Etes vous sûr de vouloir supprimer ce produit ?'))"><i class="fa fa-trash"></i></a></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>


<?php
endif;
